body {
	margin: 0;
	padding: 15px;
	background: #D3D3D3;
}

#output {
	border: 1px dotted black;
	width: 500px;
	height: 500px;
	margin: 0 auto;
	padding: 0;
}

#control {
	width: 500px;
	margin: 30px auto;
}
